.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.875rem;
	margin: 0;
	padding: 4px 8px;
	height: 32px;
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
	border: 1px solid hsla(0, 0%, 0%, 0);
	border-radius: $BORDER_RADIUS;
	box-shadow: hsla(0, 0%, 0%, 0) 0 0 0 0;
	line-height: 20px;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;

	transition: $TRANSITION_SPEED $TRANSITION_EASE;
	transition-property: color, background-color, box-shadow, border-color;

	&:hover {
		background-color: var(--color-state-hover-accent);
	}

	&:focus-visible {
		background-color: var(--color-state-hover-accent);
	}

	.icon {
		transition: color $TRANSITION_SPEED $TRANSITION_EASE;
	}
}

.btn-outline {
	background-color: var(--color-bg-primary);
	border: 1px solid var(--color-border-primary);

	&:hover,
	&:focus-visible {
		background-color: var(--color-bg-secondary);
	}
}

.btn-tertiary {
	background-color: hsla(0, 0%, 0%, 0);
	border: none;

	&:hover,
	&:focus-visible {
		background-color: hsla(0, 0%, 0%, 0);
	}
}

.btn-w-icon {
	padding: 4px;
	height: 32px;
	width: 32px;

	.icon {
		color: var(--color-icon-primary);
	}

	&:hover,
	&:focus-visible {
		.icon {
			color: var(--color-icon-hover);
		}
	}
}

.btn-danger {
	&:focus-visible,
	&:hover {
		.icon {
			color: var(--color-text-danger);
		}
	}
}

.btn-lg {
	height: 40px;
	padding: 8px 12px;
}
