form {
	display: flex;
	width: 100%;
	max-width: 640px;
	background: none;

	input {
		display: block !important;
		font-size: 0.875rem;
		color: var(--color-text-secondary);
		padding: 8px 12px;
		background-color: var(--color-bg-primary);
		border: 1px solid var(--color-border-primary);
		border-radius: $BORDER_RADIUS;
		line-height: 1.5rem;
		outline: none;
		appearance: none;
		flex-grow: 1;

		transition: $TRANSITION_SPEED $TRANSITION_EASE;
		transition-property: background-color;

		&:hover {
			background-color: var(--color-bg-secondary);
		}

		&:focus-visible {
			background-color: var(--color-bg-secondary);
		}

		&::placeholder {
			color: var(--color-text-secondary);
		}
	}

	.btn {
		margin-left: 12px;
		flex-shrink: 0;

		.icon {
			margin-left: -4px;
			margin-right: 8px;
		}
	}
}
