// ICON
.icon {
	box-sizing: content-box;
	fill: currentColor;
	flex-shrink: 0;
	pointer-events: none;
}

.icon-sm {
	width: 18px;
	height: 18px;
}

.icon-md {
	width: 20px;
	height: 20px;
}

.icon-lg {
	width: 24px;
	height: 24px;
}
