.container {
	display: flex;
	flex-direction: column;
	color: var(--color-text-primary);
	width: 100%;
	max-width: 640px;
	margin-bottom: 24px;
	padding: 4px;
	user-select: none;

	&.collapse {
		.task-header {
			border-bottom: 1px solid var(--color-border-primary);
		}

		.container__group {
			height: 0px !important;
			min-height: initial;
			pointer-events: none;
			transform: scaleY(0);
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
		}
	}
}

.container__group {
	transform-origin: top center;
	transform: scaleY(1);
	opacity: 1;
	visibility: visible;
}

.task-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-text-primary);
	font-size: 0.75rem;
	font-weight: 700;
	padding-right: 2px;
	padding-bottom: 12px;
	padding-left: 4px;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	text-transform: uppercase;

	transition: 150ms ease border-color;

	[data-counter] {
		font-weight: 400;
		color: var(--color-text-secondary);
		margin-left: 8px;
		line-height: 1;
	}

	.toggle-view {
		color: var(--accent);
		font-size: 0.8125rem;
		font-weight: 600;
		padding: 8px 4px;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.task-list {
	position: relative;
	width: 100%;
	min-height: 48px;
}

.task-item {
	position: relative;
	display: flex;
	color: var(--color-text-primary);
	font-size: 0.8125rem;
	font-weight: 400;
	min-height: 48px;
	margin-bottom: -1px;
	padding: 8px 12px;
	background-color: var(--color-bg-primary);
	border: 1px solid var(--color-border-primary);

	transition: $TRANSITION_SPEED $TRANSITION_EASE;
	transition-property: color, background-color, border-radius;

	&:not(.dragging):hover {
		box-shadow: var(--color-box-shadow) 0 1px 2px;
		z-index: 1;

		.task-item__options {
			display: inline-block;
		}
		.drag-indicator {
			opacity: 0.85;
		}
	}

	&:not(.dragging):focus-within {
		box-shadow: var(--color-box-shadow) 0 1px 2px;

		.task-item__options {
			display: inline-block;
		}
	}

	&:first-of-type {
		border-top-left-radius: $BORDER_RADIUS;
		border-top-right-radius: $BORDER_RADIUS;
	}
	&:last-of-type {
		border-bottom-left-radius: $BORDER_RADIUS;
		border-bottom-right-radius: $BORDER_RADIUS;
	}

	&.completed {
		// .task-item__content {
		// 	color: var(--color-state-completed-text);
		// }
		// .task-item__date {
		// 	color: var(--accent);
		// }
		.task-item__content {
			opacity: 0.85;
		}
	}

	&.dragging {
		background-color: hsla(214, 97%, 38%, 0.06);
		border: 1px solid var(--color-border-secondary);
		z-index: 1;
	}
}

.task-item .drag-indicator {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	opacity: 0;
	cursor: grab;
}

.task-item .checkbox {
	margin-left: 4px;
	flex-shrink: 0;
}

.task-item__group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	min-width: 0;
	margin-right: 32px;
	margin-left: 12px;
}

.task-item__content {
	font-size: 1em;
	color: var(--color-text-primary);
	min-width: 0;
	font-weight: 500;
	line-height: 1.5;
}

.task-item__date {
	color: var(--accent);
	font-size: 0.9em;
	font-weight: 500;
	min-width: 0;
	margin-top: 6px;
	line-height: 1;
	white-space: nowrap;
}

.task-item__options {
	position: absolute;
	display: none;
	top: 0;
	right: 8px;
	z-index: 5;

	.menu__list {
		position: absolute;
		visibility: hidden;
		top: 100%;
		right: 0;
		width: 140px;
		padding: 4px 0;
		background-color: var(--color-bg-primary);
		border-radius: $BORDER_RADIUS;
		box-shadow: var(--color-box-shadow) 0 1px 2px;
		border: 1px solid var(--color-border-primary);
		transform: scale(0.5);
		opacity: 0;

		transition: 150ms cubic-bezier(0.175, 0.885, 0.32, 1.15);
		transition-property: opacity, transform;

		.btn {
			justify-content: flex-start;

			&:hover,
			&:focus-visible {
				background-color: rgba(0, 0, 0, 0.05);
			}
			&:last-of-type {
				margin-top: 4px;
			}
		}
	}
}

.menu__list.show {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
}

.marker {
	position: relative;
	display: block;
	right: 0;
	left: 0;
	height: 0px;
	z-index: 999;

	&::after {
		position: absolute;
		display: block;
		content: '';
		top: 50%;
		right: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: var(--accent);
		transform: translate(0%, -50%);
	}

	+ .task-item {
		border-radius: 0 !important;
	}
}

.state-message {
	display: none;
	flex-direction: column;
	align-items: center;
	color: var(--color-text-secondary);
	padding: 20px 32px;
	margin-top: -48px;
	border: 1px solid var(--color-border-primary);
	border-radius: $BORDER_RADIUS;
	pointer-events: none;
	user-select: none;

	transition: all $TRANSITION_SPEED $TRANSITION_EASE;

	span {
		font-size: 0.8125rem;
		color: var(--color-text-secondary);
		width: 60%;
		text-align: center;
		line-height: 1.45em;
	}

	img {
		width: 32px;
		height: 100%;
		margin-bottom: 18px;
	}
}

.state-message.active {
	display: flex;
}

.task-item-drag-image {
	position: fixed;
	display: flex;
	align-items: center;
	left: -999vw;
	height: 48px;
	width: 200px;
	padding: 4px;
	background-color: var(--color-bg-primary);
	border: 1px solid var(--color-border-primary);
	border-radius: $BORDER_RADIUS;
	box-shadow: var(--color-box-shadow) 0 1px 4px;
	transform: translate(0%, -50%) scale(0.5);
	transform-origin: left top;
	opacity: 0;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	z-index: 9999;

	.drag-indicator {
		width: 16px;
		left: 2px;
		margin-right: 4px;
		opacity: 0.85;
		flex-shrink: 0;
	}

	.drag-image__content {
		display: inline-block;
		color: var(--color-text-primary);
		font-size: 0.85rem;
		font-weight: 500;
		min-width: 0;
		margin-right: 8px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		line-height: 1.5;
	}
}
