:root {
	// Base

	--accent: #1981c1;
	--color-text-primary: #000000d6;
	--color-text-secondary: #000000b3;
	--color-text-danger: #ee382b;
	--color-text-white: #ffffff;

	--color-icon-primary: #969da6;
	--color-icon-hover: #666666;

	--color-bg-primary: #ffffff;
	--color-bg-secondary: #f6f7f9;
	--color-bg-tertiary: #eff2f5;

	--color-border-primary: #e2e5e9;
	--color-border-secondary: #d1d5dc;

	--color-box-shadow: #878f9b33;

	--color-state-completed-text: #afb2b6;
	--color-state-selected-accent-bg: var(--accent);
	--color-state-hover-accent-bg: #0f5eae;
	--color-state-selected-accent-bg: #2e964b;
}
